%div.me-2.mt-4.d-flex.justify-content-center.align-items-center
  = form.select "operator[#{i}]",
    options_for_select([[ti('and'), 'and'], [ti('or'), 'or']], params.dig(:operator, i.to_s)),
    {},
    class: "form-select form-select-sm w-auto bg-light text-center",
    onchange: "this.form.requestSubmit()"
