.git
.gitignore
.env

.DS_Store
Thumbs.db

log/
tmp/
storage/
public/assets/
public/packs/
spec/coverage/
uploads/

node_modules/
frontend/node_modules/
frontend/tmp/
.yarn/cache/
.yarn/install-state.gz
yarn-error.log
npm-debug.log