services:
  rails:
    container_name: rails
    image: skills-dev/rails
    user: app
    tty: true
    stdin_open: true
    environment:
      - RAILS_DB_HOST=postgres
    env_file: .env
    build:
      context: ./config/docker/development
      dockerfile: Rails.dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./:/myapp
      - ./config/docker/development/home/rails:/home/developer
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${GEM_PATH}:/opt/bundle

    depends_on:
      - postgres
  test:
    container_name: test
    image: skills-test/rails
    user: app
    tty: true
    stdin_open: true
    environment:
      - RAILS_DB_HOST=postgres
      - RAILS_ENV=test
    env_file: .env
    build:
      context: ./config/docker/test
      dockerfile: Test.dockerfile
    ports:
      - 3001:3000
    volumes:
      - ./:/myapp
      - ./config/docker/test/home/rails:/home/test
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${GEM_PATH}:/opt/bundle

    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:16
    ports:
      - 5432:5432
    env_file: .env
    volumes:
      - postgres:/var/lib/postgres

  assets:
    container_name: assets
    image: ruby:4.0.1
    working_dir: /myapp
    command: >
     /bin/bash -c "
      curl -fsSL https://deb.nodesource.com/setup_18.x | bash - &&
      apt install &&
      apt-get install -y nodejs &&
      npm install -g yarn && bin/assets &&
      sleep infinity"
    volumes:
      - ./:/myapp
      - bundler_cache:/opt/bundle
      - assets_cache:/usr/bin/
    depends_on:
      - rails

  worker:
    container_name: worker
    image: ruby:4.0.1
    environment:
      - RAILS_DB_HOST=postgres
      - RAILS_ENV=development
    env_file: .env
    working_dir: /app
    command: /bin/bash -c "bundle install && bundle exec rails jobs:work"
    volumes:
      - .:/app
    depends_on:
      - postgres
      - rails
volumes:
  bundler_cache:
  assets_cache:
  postgres:

