# frozen_string_literal: true

require "rails_helper"

describe "<%= file_name %> component" do
  it "default preview" do
    visit("/rails/view_components<%= File.join(class_path, file_name) %>/default")

    # is_expected.to have_text "Hello!"
    # click_on "Click me"
    # is_expected.to have_text "Good-bye!"
  end
end
