<div class="row mb-2">
  <div class="col-sm-6">
    <CompaniesList @companies={{this.model}} />
  </div>
  <div class="col-sm-6">
    <LinkTo @route="companies.new">
      <a class="float-right mr-2">
        <i class="fa fa-plus-square" aria-hidden="true">
        </i>
        Neue Firma
      </a>
    </LinkTo>
  </div>
</div>
