<div class="row mb-2">
  <div class="col-sm-6">
    {{companies-list companies=model}}
  </div>
  <div class="col-sm-6">
    {{#link-to "companies.new"}}
      <a class="float-right mr-2">
        <i class="fa fa-plus-square-o" aria-hidden="true">
        </i>
        Neue Firma
      </a>
    {{/link-to}}
  </div>
</div>
