<div class="row mb-2">
  <div class="col-sm-6">
    {{!ehemaliges Suchfeld}}
    {{companies-list companies=model}}
  </div>
  <div class="col-sm-6">
    {{#link-to "companies.new"}}<button type="button" class="btn btn-outline-success float-right ml-2 btn-w-1">Neues Profil</button>{{/link-to}}
  </div>
</div>