<div class="row mb-2">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-6">
    <div class="dropdown">
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">ODT</a>
        <a class="dropdown-item" href="#">PDF</a>
      </div>
    </div>
  </div>
</div>
<CompanyShow @company={{model}} />
