<div class="row mb-2">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-6">
    {{#link-to "companies.new"}}<button type="button" class="btn btn-outline-success float-right ml-2 btn-w-1">Neue Firma</button>{{/link-to}}
    <div class="dropdown">
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">ODT</a>
        <a class="dropdown-item" href="#">PDF</a>
      </div>
    </div>
  </div>
</div>
{{company-show company=model}}
