%turbo-frame{id: "competence-notes"}
  = form_with do |f|
    .mb-4.w-100
      = f.text_area :competence_notes, class: "form-control"
    .mb-1.mt-4
      = f.button "Speichern", class:"btn btn-primary","aria-label":"Close"
      = link_to "Abbrechen", skills_path, class: "btn btn-outline-secondary", "data-bs-dismiss":"modal"