%div.lang-box{"lang-box"=>language_skill.index}
  = language_skill.hidden_field :_destroy
  %div= language_skill.collection_select :language, common_languages_translated, :first, :last, {}, { class: "form-select mw-100", "data-controller" => "lang-selection", "data-action" => "click->lang-selection#changeLang" }
  %div Level
  %div= language_skill.collection_select :level, %w[Keine A1 A2 B1 B2 C1 C2 Muttersprache], :itself, :itself, {}, class: "form-select mw-100"
  %div Zertifikat
  %div= language_skill.text_field :certificate, class: "mw-100 form-control"