- items.each do | item |
  %div.px-3.pt-3.pb-3.skills-blue-text.cursor-pointer{"data-scroll-target": "listItem", "data-action": "click->scroll#scrollToElement",
        "data-scroll-id-param": item}
    %span
      - if translate
        = t "profile.#{item}"
      - else
        = item