%div.sidebar.responsive-hide{data: {"scroll-target": "list"}}
  %div
    - items.each do | item |
      %div.sidebar-item.w-100{data: {"scroll-target": "listItem", "action": "click->scroll#scrollToElement",
            "scroll-id-param": item.parameterize}}
        %span
          = t(".#{item}", default: item)

  %div.sidebar-extras
    = yield