= form_with do |f|
  %section{"data-controller"=>"dropdown"}
    = f.collection_select :person_id, Person.all.sort_by(&:name), :id, :name,  select_when_availabale(person) , {class: "form-select w-100", "data-action": "change->dropdown#handleChange", "data-value": "/people/"}
