%div.mt-2
  =render partial:"people/search", :locals => {person: @person}
%div{"data-controller": "profile-tab"}
  %ul.nav.nav-tabs.d-flex.flex-row.mt-2
    %div.w-50.d-flex.flex-row
      =link_to person_path(@person), class: "btn d-flex align-items-center justify-content-center text-primary p-0",
        data: {turbo_frame: "tab-content"} do
        %div.nav-link.active{ "data-profile-tab-target": "tab"}
          CV
      =link_to person_people_skills_path(@person), class: "btn d-flex align-items-center justify-content-center text-primary p-0",
        data: {turbo_frame: "tab-content"} do
        %div.nav-link{ "data-profile-tab-target": "tab"}
          Skills
    %div.w-50.d-flex.justify-content-end
      %div.d-flex.justify-content-end
        =link_to image_tag("export.svg", class: "text-primary")+ "Export", export_cv_person_path(@person), class: "btn text-primary", data: { turbo_frame: "remote_modal" }
  %turbo-frame{id: "tab-content"}
    %div{"data-profile-tab-target": "cv"}
      = render('cv')