%div{"data-controller": "profile-tab"}
  %ul.nav.nav-tabs
    %li.nav-item
      =link_to person_path(@person), class: "btn d-flex align-items-center text-primary w-75",
      data: {turbo_frame: "tab-content"} do
        %div.nav-link.active{ "data-profile-tab-target": "tab"}
          CV
    %li.nav-item
      =link_to people_skills_person_path(@person), class: "btn d-flex align-items-center text-primary w-75",
      data: {turbo_frame: "tab-content"} do
        %div.nav-link{ "data-profile-tab-target": "tab"}
          Skills
  %div
    =render partial:"people/search", :locals => {person: @person}
  %turbo-frame{id: "tab-content"}
    %div{"data-profile-tab-target": "cv"}
      = render('cv')