<div class="zeile">
  <div id="education-content-edit">
    <div class="row">
      <EducationForm @person={{@person}} @education={{@education}}/>
      <div id="delete-education-icon" role="button">
        <DeleteWithConfirmation @entry={{@education}}>
        Löschen
        </DeleteWithConfirmation>
      </div>
    </div>
  </div>
</div>
