= render('people/date_range_entities/form', attribute: advanced_training, attr_name: "advanced_trainings") do
  = t "activerecord.attributes.advanced_training.description"
  //= text_area :description, placeholder: "Description", class: "form-control w-100"