= turbo_stream.update dom_id(MergeDepartmentSkillForm.new) do
  = render "form"

= turbo_stream.update "flash-messages" do
  = render partial: "layouts/flash", collection: [:notice, :alert], as: :level