= link_to Department.model_name.human , admin_departments_path
= link_to Role.model_name.human , admin_roles_path
= link_to Company.model_name.human , admin_companies_path
= link_to ti('merge_skills'), new_admin_unified_skill_path