html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 30px; /* bottom = footer height */
  /* The html and body elements cannot have any padding or margin. */
  font-family: 'Roboto', sans-serif;
}

body.max-width {
  width: 100%;
  max-width: 1350px;
  margin: 0px auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc !important;
  margin-top: 5px !important;
  padding: 0;
}

.pointer{
  cursor: pointer;
}

.mb-end, #collapseFWS .card:last-child {
  margin-bottom: 50px;
}


  /* Main Content
  -------------------------------------------------- */

  #left-grid {
    margin-right: 0;
  }

  #right-grid {
    margin-left: 0;
    padding-left: 20px;
    border-left: 1px solid #ccc;
  }

  #extended-search-form{
    border-left: 1px solid #ccc;
    margin-left: 0px;
    padding-left: 20px;
  }

  .section {
    margin-bottom: 70px;
  }

  .section-title{
    font-size: 16px;
    font-weight: bold;
  }

  .section-title a{
    color: #333
  }

  .btn-space {
    margin-left: 10px;
  }

  /* Sticky footer styles
  -------------------------------------------------- */

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

  /* Set the fixed height of the footer here */
  #push {
    height: 60px;
    margin-top: 50px;
  }

  #footer {
    height: 30px;
    margin-top: 50px;
    background-color: #888888;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #footer > div.container {
    height: inherit;
    color: white;
    font-size: 0.8em;
  }

  #footer > div.container > p{
    text-align: center;
    margin: 0px;
  }

  /* Personlist navbar
  -------------------------------------------------- */
  #form-search {
    margin: 0px;
  }

  #div-create-person {
    text-align: right;
  }
  .round-border {
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  div.row-fluid.person-list > div.span10 > div.container-fluid.round-border {
    padding-left: 0;
    padding-right: 0;
  }

  .menu_div ul
  {
    padding:0px;
    margin:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
    list-style:none;
    text-indent:15px;

  }
  .menu_div ul li
  {
    background:#3f3f3f;
    line-height:35px;
    border-bottom:1px solid #333;
  }
  .menu_div ul li a
  {
    text-decoration:none;
    color:#FFF;
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu_div ul li a:hover
  {
    background: #4577D4;
  }
  .menu_div ul li a:active
  {
    background: #29477F;
  }

  .menu_div ul li.active {
    background: #4577D4;
  }


  /* Responsive behavior
  -------------------------------------------------- */

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }


  /* All Section
  -------------------------------------------------- */
  .show-description-cell{
    width: 550px !important;
  }

  .show-year-cell{
    width: 100px !important;
  }


  /* Profile Section
  -------------------------------------------------- */
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: 5px;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 140px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  #img-avatar-read {
    margin-top: 9px;
  }

  .img-avatar-edit {
    width: 128px;
    height: 119px;
    object-fit: cover;
    box-sizing: border-box;
  }

  #profile-content-show dl {
    margin-bottom: 10px;
  }
  #profile-content-show dt {
    width: 100px;
  }
  #profile-content-show dd {
    margin-left: 120px;
  }
  .form-field--label{
    margin-top: 5px;
    float: left;
    text-align: right;
  }

  .form-field--control{
    width: 200px;
    margin-left: 10px;
  }

  .form-button--submit, .form-button--reset {
    background-color: rgba(255, 255, 255, 0)!important;
    border: none!important;
    color: #08c;
  }

  .form-button--submit:hover, .form-button--reset:hover{
    color: #005580;
    text-decoration: underline;
  }

  .pull-right {
    margin-left: 5px;
    margin-right: 5px;
  }

  .flag-icon {
    margin-right: 5px;
  }

  /* Competence Section
  -------------------------------------------------- */
  .vertical-center {
    vertical-align: middle;
  }

  /* Activity & Project Section
  -------------------------------------------------- */
  #project div.span4 button,
  #activity div.span4 button {
    margin-left: 10px;
  }

  .project-title,
  .activity-role{
    font-weight: bold;
  }

  .project-title,
  .project-role,
  .project-description,
  .project-technology,
  .activity-role,
  .activity-description {
    border: 0 !important;
  }

  #option-pill > a{
    border:0px;
    border-radius: 6px;
  }
  #remove-profile {
    color: red;
  }

  .group-pills > li:first-child > a {
    border-bottom-right-radius:  0px;
    border: 1px solid #e8ebf0;
    border-top-right-radius: 0px;
  }

  .group-pills > li:last-child > a {
    border-bottom-left-radius:  0px;
    border: 1px solid #e8ebf0;
    border-top-left-radius: 0px;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: top;
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
  }
  .icon-white {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: middle;
    background-image: url("../img/glyphicons-halflings-white.png");
    background-repeat: no-repeat;
  }


  [class^="icon-"]:hover,
  [class*=" icon-"]:hover {
    background-image: url("../img/glyphicons-halflings-005580.png");
  }

  a{
    cursor:pointer;
  }
  dd{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td,th{
    max-width:550px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #competence-content-show > div > ul > li{
    max-width:800px;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style-type: circle;
  }

  .project-title, .project-description, .project-role, .activity-role{
    padding-bottom: 10px;
  }

  .action-header{
    width: 0px;
  }

  .menu_div ul li a.active {
    background: none repeat scroll 0 0 #4577d4;
  }

  a.disabled-link,
  a.disabled-link:visited ,
  a.disabled-link:active,
  a.disabled-link:hover {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
  }

  .img-avatar-edit:hover{
    opacity: 0.8;
  }


  /*
  We set the element we are applying our loading mask to relative
   */
  .loading-mask {
    position: relative;
  }

  /*
  Because we set .loading-mask relative, we can span our ::before
  element over the whole parent element
   */
  .loading-mask::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }

  /*
  Spin animation for .loading-mask::after
   */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  /*
  The loading throbber is a single spinning element with three
  visible borders and a border-radius of 50%.
  Instead of a border we could also use a font-icon or any
  image using the content attribute. c
   */
  .loading-mask::after {
    content: "";
    position: absolute;
    border-width: 3px;
    border-style: solid;
    border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    animation: 2s linear 0s normal none infinite running spin;
    filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
  }

  .nav-pills .right div{
    display: block;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 2px;
    margin-right: -4px;
  }

  .nav-pills .left div{
    display: block;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 1px;
    height: 22px;
  }

  .ember-basic-dropdown-content-wormhole-origin{
    position: absolute;
  }

  .nav-pills li div{
    background: none;
    color: #0088cc;
    border: 1px solid #e8ebf0;
    box-shadow: none;
  }

  .nav-pills .active div{
    background: #0088cc;
    color: #fff;
    text-shadow: none;
  }

  .nav-pills li div .caret{
    border-top: 4px solid #0088CC;
  }

  .nav-pills .active div .caret{
    border-top: 4px solid #fff;
  }



/* Forms
-------------------------------------------------- */

form textarea{
  height: 60px;
  margin-bottom: 10px;
}


/* Form Errors
-------------------------------------------------- */

.form-field--has-errors {
  color: #a94442;
}

.form-field--has-errors input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-field--has-errors input:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.form-field--errors{
  display: none;
}

.competences-edit-input{
  width: 95%;
  height: 250px;
  margin-left: 15px;
}


.ember-notify-cn .ember-notify{
  min-width: 300px;
  height: 50px;
}

.ember-notify-cn.ember-view{
  top: 0px;
  bottom: auto;
  margin-right: 20px;
}

.ember-notify .close{
  right: 0px;
  font-size: 30px;
}


/* Buttons
-------------------------------------------------- */

.btn-primary{
  color: white!important;
}

.async-button:hover{
  background-position: 0px 0px!important;
}


.btn-link {
  padding:0!important;
  cursor: pointer;
}

#export-dropdown{
  margin-left: 5px;
  margin-top: 1px;
}


/* Companies Page
----------------------------------------------------- */
.btn-w-1 {
  width: 160px;
}

.table-company td {
  padding-bottom: 5px;
  vertical-align: top;
  font-size: 90%;
}

.table-company {
  width: 100%;
}

.table-company td:first-child, .table-company label {
  width: 50%;
}

.table-company label {
  float: left;
}

.table-company td:last-child {
  width: 50%;
}

.table-company input, .table-company button, .table-company .ember-power-select-trigger {
  width: 45%;
  float: right;
}
.table-company .nextToDelete {
  position: relative;
}

.table-company .nextToDelete input {
  width: 40%;
  margin-right: 5%;
}

.table-company .deleteField {
  position: absolute;
  top: 5px;
  right: 12px;
}

.table-company tr td:first-child {
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  height: 35px;
  min-height: 35px;
}

.table-company tr:first-child {
  font-size: 140%;
}


/* Person Übersicht*/

.table-person {

}

.table-person input, .table-person .ember-power-select-trigger {
  width: 100%;
  float: right;
}

.table-person label {
  float: left;
  text-align: left;
  margin-bottom: 0px !important;
  margin-top: 5px !important;
}

.table-person tr {
  height:100%;
}

.description {
  color: grey;
}

.table-person .checkbox {
  outline: none;
  height: 35px;
}

.skill {
  min-width: 100px;
}


.full {
  width: 100%;
}

.profil-knopf {
  width: 100%;
  text-align: left;
  padding: 12px;
}

/* Sandwich Icon */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Symbole für Tabs */
/* Symbol für offenes / geschlossenes Tab */
[data-toggle="collapse"] .angle:before {
  content: "\f106";  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-size: 20px;
  font-weight: bold;
}

/*a:hover .fa, a:active .fa, a:focus .fa {
  color: #61B44B;
  transition: 0.3s;
}*/

[data-toggle="collapse"].collapsed .angle:before {
  content: "\f107";
  font-size: 20px;
  font-weight: bold;
}

.edit:before {
  content: "\f044";
  font-size: 20px;
}

.save:before {
  content: "\f0c7";
  font-size: 20px;
}

.abort:before {
  content: "\f00d";
  font-size: 20px;
}

.trash:before {
  content: "\f014";
  font-size: 20px;
}

.reset:before {
  content: "\f0e2";
  font-size: 20px;
}

.add:before {
  content: "\f055";
  font-size: 20px;
}

.info:before {
  content: "\f129";
  font-size: 20px;
}

/* Table Styling in Tabs */
.table-uebersicht {
  width: 100%;
}

.table-uebersicht td:first-child, .table-uebersicht label {
  width: 50%;
}

.table-uebersicht label {
  float: left;
}

.table-uebersicht td:last-child {
  width: 50%;
}

.table-uebersicht input, .table-uebersicht button, .table-uebersicht .ember-power-select-trigger {
  width: 45%;
  float: right;
}

.table-uebersicht .nextToDelete {
  position: relative;
}

.table-uebersicht .nextToDelete input {
  width: 40%;
  margin-right: 5%;
}

.table-uebersicht .deleteField {
  position: absolute;
  top: 5px;
  right: 12px;
}

.trash:hover {
  color: green;
}

.no-hover:hover i {
  color: white !important;
}

#delete-company-icon {
  position: absolute;
  left: 490px;
}

#delete-education-icon {
  padding-top: 6px;
}

#delete-acitivty-icon {
  padding-top: 6px;
  padding-right: 60px;
  position: absolute;
  left: 490px;
}

#delete-confirmation-modal {
  padding-right: 9px;
  display: block;
  color: black;
  font-weight: normal;
}

#cancel-button {
  width: 100px;
}

#delete-button {
  width: 100px;
}

.modal-backdrop-blue {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000066;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1040;
}

.person-error-message {
  min-width: 320px !important;
}

/* FWS */
table.fws tr td:first-child {
  width: 200px;
}

table.fws tr td:nth-child(2), table.fws tr td:nth-child(3), table.fws tr td:nth-child(4),
table.fws tr td:nth-child(5) {
  width: 170px;
}

table.fws tr td:last-child {
  width: 30px;
}

/* Power Select Multiple */
li.ember-power-select-multiple-option {
  color: #fff;
  background-color: #28a745;
  border: 0px solid;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  min-width: 100px;
}

li:hover.ember-power-select-multiple-option {
  background-color: #1e7e34;
}

span.ember-power-select-selected-item {
  display: block;
  text-align: left;
}

/* Power Select */
/* options is for the options it displays*/
li.ember-power-select-option {
}

/* selected is for the selected option, in this case used to not make the font bold*/
span.ember-power-select-selected-item {
  font-weight: normal;
}

/* Style Fixes */
a:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}


/* Input grössen */
.year {
  width: 80px;
  height: 35px;
}

/* Person */
/* Korrektur Ember */
.confirm-dialog-button {
  display: initial !important;
}

.edit-symbols {
  display: block;
}

.edit-symbols a {
  margin: 0px 0px 0px 8px;

}

.zeile {
  min-height: 80px;
  padding: 10px;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: black;
  vertical-align: middle;
}

.zeile:first-child {
  border-radius: 10px 10px 0px 0px !important;
}

.zeile:last-child {
  border-width: 1px;
  border-radius: 0px 0px 10px 10px;
}

.zeile .centered-content {
  line-height: 60px;
  vertical-align: middle;
}

.zeile .centered-content-input {
  min-height: 60px;
}

.zeile .centered-content-input textarea {
  height: 100%;
}

div.content-input  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* class that stops underlining  */
.nounderline {
  text-decoration: none !important;
}

.content-bootstrap-feel {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  padding: 5px;
  margin: 2px 0 0;
}

.no-grey-border{
  border: 0 !important;
  text-decoration: none !important;
  outline: 0 !important;
}

/* Hovering State of the top navbar */
.hovering-nav-bar:hover {
  background-color: #61B44B;
}

/* Selected state of the top navbar */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #1E5A96;
}

/* Text right next to the PuzzleSkills Logo */
.versionText {
  color: black;
  font-size: 8px;
  font-family: "Verdana";
}

.last-update-text {
  color: grey;
  font-size: 13px;
}

/* Text in Headers of person */
.header-text {
  font-size: 18px;
}

/* Border with custom color */
.border-black {
   border:1px solid #b5b5b5;
}

/* For all the bearbeiten,speichern und abbrechen "buttons" */
.edit-buttons {
  color: #1E5A96 !important;
}

.edit-buttons:active {
  outline: none !important;
}

.edit-buttons:hover {
  color: green !important;
}

.abort-edit-buttons:hover, .abort-edit-buttons i:hover {
  color: red !important;
}

/* These two are for the CV and Fachwissensskala options under person-actions */
.navbar .navbar-nav .nav-item .nav-link .active {
  color: #1E5A96;
}

.navbar .navbar-nav .nav-item .nav-link a{
  color: #8e8e8e ;
}

.navbar .navbar-nav .nav-item .nav-link a:hover {
  text-decoration: none;
}

/* These two are for Entwickler and Systemtechniker under Fachwissenskala*/
.navbar .navbar-nav .nav-item .active{
  color: #1E5A96;
}

.navbar .navbar-nav .nav-item a{
  color: #8e8e8e ;
}

/* Bootstrap Fixes */
.card {
  border: 0px;
}

.language-button {
  color: #3B7BBE !important;
}

.language-button:hover {
  color: #295584 !important;
}
