html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 30px; /* bottom = footer height */
  /* The html and body elements cannot have any padding or margin. */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc !important;
  margin-top: 5px !important;
  padding: 0;
}

.pointer{
  cursor: pointer;
}


/* Override Bootstrap
-------------------------------------------------- */
  .form-horizontal .control-group {
    margin-bottom: 10px !important;
  }

  .form-horizontal .control-label{
    width: 90px !important;
  }

  .form-horizontal .controls {
    margin-left: 100px !important;
  }


  /* Main Content
  -------------------------------------------------- */

  #inner-main {
    margin-top: 70px;
  }

  #left-grid {
    margin-right: 0;
  }

  #right-grid {
    margin-left: 0;
    padding-left: 20px;
    border-left: 1px solid #ccc;
  }

  #extended-search-form{
    border-left: 1px solid #ccc;
    margin-left: 0px;
    padding-left: 20px;
  }

  .section {
    margin-bottom: 70px;
  }

  .section-title{
    font-size: 16px;
    font-weight: bold;
  }

  .btn-space {
    margin-left: 10px;
  }

  /* Sticky footer styles
  -------------------------------------------------- */

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

  /* Set the fixed height of the footer here */
  #push {
    height: 60px;
    margin-top: 50px;
  }

  #footer {
    height: 30px;
    margin-top: 50px;
    background-color: #888888;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #footer > div.container {
    height: inherit;
    color: white;
    font-size: 0.8em;
  }

  #footer > div.container > p{
    text-align: center;
    margin: 0px;
  }

  /* Personlist navbar
  -------------------------------------------------- */
  #form-search {
    margin: 0px;
  }

  #div-create-person {
    text-align: right;
  }
  .round-border {
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  div.row-fluid.person-list > div.span10 > div.container-fluid.round-border {
    padding-left: 0;
    padding-right: 0;
  }

  .menu_div ul
  {
    padding:0px;
    margin:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
    list-style:none;
    text-indent:15px;

  }
  .menu_div ul li
  {
    background:#3f3f3f;
    line-height:35px;
    border-bottom:1px solid #333;
  }
  .menu_div ul li a
  {
    text-decoration:none;
    color:#FFF;
    display:block;
  }
  .menu_div ul li a:hover
  {
    background: #4577D4;
  }
  .menu_div ul li a:active
  {
    background: #29477F;
  }

  .menu_div ul li.active {
    background: #4577D4;
  }


  /* Responsive behavior
  -------------------------------------------------- */

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }


  /* All Section
  -------------------------------------------------- */
  .show-description-cell{
    width: 550px !important;
  }

  .show-year-cell{
    width: 100px !important;
  }


  /* Profile Section
  -------------------------------------------------- */
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: 5px;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 140px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .img-avatar-edit {
    width: 128px;
    height: 119px;
    object-fit: cover;
    box-sizing: border-box;
  }

  #profile-content-show dl {
    margin-bottom: 10px;
  }
  #profile-content-show dt {
    width: 100px;
  }
  #profile-content-show dd {
    margin-left: 120px;
  }
  .form-field--label{
    margin-top: 5px;
    float: left;
    width: 100px;
    text-align: right;
  }

  .form-field--control{
    width: 200px;
    margin: 0 0 0 10px;
  }

  .form-button--submit, .form-button--reset {
    background-color: rgba(255, 255, 255, 0)!important;
    border: none!important;
    color: #08c;
  }

  .form-button--submit:hover, .form-button--reset:hover{
    color: #005580;
    text-decoration: underline;
  }

  .pull-right {
    margin-left: 5px;
    margin-right: 5px;
  }

  /* Competence Section
  -------------------------------------------------- */
  .vertical-center {
    vertical-align: middle;
  }

  /* Activity & Project Section
  -------------------------------------------------- */
  #project div.span4 button,
  #activity div.span4 button {
    margin-left: 10px;
  }

  .project-title,
  .activity-role{
    font-weight: bold;
  }

  .project-title,
  .project-role,
  .project-description,
  .project-technology,
  .activity-role,
  .activity-description {
    border: 0 !important;
  }

  #variation-options {
    float: right;
  }

  #variation-selection{
    float: left;
  }

  #actual-cv-pill > a {
    margin: 0px;
  }

  #variation-cv-pill > a {
    margin: 0px;
  }

  #option-pill > a{
    border:0px;
    border-radius: 6px;
  }
  #remove-profile {
    color: red;
  }

  .variation-link.active {
    background-color: #00aaff;
    color: white;
  }

  .group-pills > li:first-child > a {
    border-bottom-right-radius:  0px;
    border: 1px solid #e8ebf0;
    border-top-right-radius: 0px;
  }

  .group-pills > li:last-child > a {
    border-bottom-left-radius:  0px;
    border: 1px solid #e8ebf0;
    border-top-left-radius: 0px;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: top;
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
  }
  .icon-white {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: middle;
    background-image: url("../img/glyphicons-halflings-white.png");
    background-repeat: no-repeat;
  }


  [class^="icon-"]:hover,
  [class*=" icon-"]:hover {
    background-image: url("../img/glyphicons-halflings-005580.png");
  }

  a{
    cursor:pointer;
  }
  dd{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td,th{
    max-width:550px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #competence-content-show > div > ul > li{
    max-width:800px;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style-type: circle;
  }

  .project-title, .project-description, .project-role, .activity-role{
    padding-bottom: 10px;
  }

  .action-header{
    width: 0px;
  }

  #variation-placeholder {
    height: 14px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu_div ul li a.active {
    background: none repeat scroll 0 0 #4577d4;
  }

  a.disabled-link,
  a.disabled-link:visited ,
  a.disabled-link:active,
  a.disabled-link:hover {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
  }

  .img-avatar-edit:hover{
    opacity: 0.8;
  }


  /*
  We set the element we are applying our loading mask to relative
   */
  .loading-mask {
    position: relative;
  }

  /*
  Because we set .loading-mask relative, we can span our ::before
  element over the whole parent element
   */
  .loading-mask::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }

  /*
  Spin animation for .loading-mask::after
   */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  /*
  The loading throbber is a single spinning element with three
  visible borders and a border-radius of 50%.
  Instead of a border we could also use a font-icon or any
  image using the content attribute. c
   */
  .loading-mask::after {
    content: "";
    position: absolute;
    border-width: 3px;
    border-style: solid;
    border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    animation: 2s linear 0s normal none infinite running spin;
    filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
  }

  .nav-pills .right div{
    display: block;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 2px;
    margin-right: -4px;
  }

  .nav-pills .left div{
    display: block;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 1px;
    position: absolute;
    height: 22px;
  }

  .nav-pills li div{
    background: none;
    color: #0088cc;
    border: 1px solid #e8ebf0;
    box-shadow: none;
  }

  .nav-pills .active div{
    background: #0088cc;
    color: #fff;
    text-shadow: none;
  }

  .nav-pills li div .caret{
    border-top: 4px solid #0088CC;
  }

  .nav-pills .active div .caret{
    border-top: 4px solid #fff;
  }



/* Forms
-------------------------------------------------- */

form textarea{
  height: 60px;
  margin-bottom: 10px;
}


/* Form Errors
-------------------------------------------------- */

.form-field--has-errors {
  color: #a94442;
}

.form-field--has-errors input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-field--has-errors input:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.form-field--errors{
  display: none;
}


.ember-notify-cn .ember-notify{
  min-width: 300px;
  height: 50px;
}

.ember-notify-cn{
  top: 0px;
  margin-right: 20px;
}

.ember-notify .close{
  right: 0px;
  font-size: 30px;
}
