#fws-link{
  margin-left: 200px;
}

#expertise-categories{
  width: 100%;
  margin: 0px auto;
  margin-top: -20px;
  margin-bottom: 20px;
}

.expertise-category{
  font-size: 15px;
  padding: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 5px;
}

#expertise-categories .unfolded{
  border-bottom: 0px;
  border-radius: 3px 3px 0px 0px;
}

.expertise-topic-skill-values-table{
  background-color: #FAFAFA;
  margin-bottom: 0;
  width: 100%!important;
}

.expertise-topic-skill-values-table .content-row:hover{
  background-color: #EEE;
  cursor: pointer;
}

.expertise-topic-skill-values-table .content-row-edit:hover{
  cursor: default;
  background-color: #FAFAFA;
}

.expertise-category:hover{
  background-color: #EEE;
  cursor: pointer;
}

.fws-topic-name{
  max-width: 130px;
}

.fws-last-use{
  width: 30px;
}

.fws-number-input{
  width: 42px;
}

.fws-year-input{
  width: 55px;
}

.fws-textarea-input{
  height: 40px;
}

.fws-select{
  width: 110px;
}

.fws-action-icon{
 width: 17px!important;
 max-width: 17px!important;
 min-width: 17px!important;
}

.fws-category-unfold-icon{
  width: 30px;
  float: right;
  margin-top: -4px;
}

.fws-button{
  margin-left: 5px;
  margin-top: 0px!important;
  border-radius: 4px!important;
  margin-top: 0;
}

.expertise-topic-skill-values-table{
  margin-bottom: 15px;
  border: 1px solid #ddd;
  margin-top: -5px;
}

.expertise-topic-skill-values-table .info-icon{
  width: 15px;
}

.fws-comments-field {
  word-wrap: break-word;
  max-width: 125px;
}
