<div id="homepage">
  <div>
    <h1 class="font-weight-bold d-inline-block mr-3">{{t "index.welcome"}}</h1> <img src="/logo.svg" class="align-baseline" alt="" role="presentation" width="340"> 
  </div>
  <h4 class="font-weight-bold mt-3">
    {{t "index.message"}}
  </h4>
</div>
