<main id="main" class="container">
  <div id="inner-main" class="container-fluid">
    <div class="row-fluid">
      {{outlet}}
    </div>
  </div>
</main>
{{footer-bar}}
{{ember-notify messageStyle='bootstrap'}}
