<main id="main" class="container">
  <div id="inner-main" class="container-fluid">
    <div class="row-fluid">
      {{#if session.isAuthenticated}}
        <a id="logout-button"
            role="button"
            class="pull-right" {{action 'invalidateSession'}}>
          Logout
        </a>
      {{/if}}
      {{outlet}}
    </div>
  </div>
</main>
{{ember-notify messageStyle='bootstrap'}}
{{footer-bar}}
