<main id="main" class="container">
  <div id="inner-main" class="container-fluid">
    <div class="row-fluid">
     {{#if session.isAuthenticated}}
       <a {{action 'invalidateSession'}}>Logout</a>
      {{/if}}
      {{outlet}}
    </div>
  </div>
</main>
{{footer-bar}}
{{ember-notify messageStyle='bootstrap'}}
