<div class="row mb-2">
  <div class="col-sm-6">
    <form class="form-inline" action="#">
      <div class="input-group" style="width: 100%;">
        <input type="text" class="form-control" placeholder="Profil / Text suchen...">
        <div class="input-group-prepend">
          <button class="btn btn-outline-primary rounded-right" type="submit">Go!</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    {{#link-to "companies.new"}}<button type="button" class="btn btn-outline-success float-right ml-2 btn-w-1">Neues Profil</button>{{/link-to}}
    <div class="dropdown">
      <button type="button" class="btn btn-outline-primary dropdown-toggle float-right btn-w-1" data-toggle="dropdown">Export</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">ODT</a>
        <a class="dropdown-item" href="#">PDF</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <span class="text-right d-block"><strong>Letztes Update <span class="text-danger">12.03.2018</span></strong></span>
  </div>
  {{companies-list companies=model}}
</div>
<hr class="">
<div class="collapse-group">
  <div class="row mb-3">
    <div class="col-sm-12">
      <span class="text-right d-block controls"><a href="#" class="mr-2 open-button">+ alles ausklappen</a><a href="#" class="close-button">- alles einklappen</a></span>
    </div>
  </div>
  {{outlet}}
</div>

