<div id="cv-searchbar-header" class="header">
  <CvSearchbar />
  <div class="card-header bg-info mt-3">
    <p class="text-dark header-text mb-0">Suchresultate</p>
  </div>
</div>
<div class="card mt-12 mb-5">
  <div id="cv-search-results" class="border border-info rounded-bottom">
    {{#if this.model}}
      {{#each this.model as |person|}}
        <LinkTo @route="person" @model={{person}} class="cv-search-pills m-2">
          {{person.name}}
        </LinkTo>
      {{/each}}
    {{else}}
      <p class="m-2">Keine Resultate</p>
    {{/if}}
  </div>
</div>
