<div class="row mb-3">
  <div class="col-sm-8">
    {{people-search people=model}}
  </div>
  <div class="col-sm-4">
    {{#link-to "people.new"}}
      <a class="float-right mr-2">
        <i class="fa fa-plus-square-o" aria-hidden="true">
        </i>
        Neues Profil
      </a>
    {{/link-to}}
  </div>
</div>
{{outlet}}
