<div class="row">
  <div class="col-9">
    {{people-search people=model}}
  </div>
  <div class="col-3">
    <div class="new-profile-button">
      {{#link-to "people.new"}}
        <a>
          <i class="fa fa-plus-square-o" aria-hidden="true">
          </i>
          Neues Profil
        </a>
      {{/link-to}}
    </div>
  </div>
</div>
{{outlet}}
