<div id="people-search-header" class="row position-fixed w-100 z-index-thousand">
  <div class="col-9">
    <PeopleSearch @people={{this.model}} />
  </div>
  <div class="col-3">
    <div class="new-profile-button">
      <LinkTo @route="people.new">
        <a>
          <i class="fa fa-plus-square" aria-hidden="true">
          </i>
          {{t "people.newProfile"}}
        </a>
      </LinkTo>
    </div>
  </div>
</div>
<div class="mt-8">
  {{outlet}}
</div>
