= form_tag team_skills_path, {"data-turbo-frame": "team-skill-chart", method: :get} do
  %div.d-flex.justify-content-evenly.mt-5.mb-5
    %div
      %label.me-2{ for: "department_select" } Department
      %select#department_select{name: "department_id", onChange: "this.form.requestSubmit()"}
        %option{value: ""} Select a Department
        - Department.all.each do |department|
          %option{value: department.id}= department.name

    %div
      %label.me-2{ for: "skill_select" } Skill
      %select#skill_select{name: "skill_id", onChange: "this.form.requestSubmit()"}
        %option{value: ""} Select a Skill
        - Skill.all.each do |skill|
          %option{value: skill.id}= skill.title

    %div
      %label.me-2{ for: "year_select" } Year
      %select#year_select{name: "year", onChange: "this.form.requestSubmit()"}
        %option{value: ""} Select a Year
        - (2025..Date.today.year).to_a.reverse.each do |year|
          %option{value: year}= year

%turbo-frame#team-skill-chart
  %div.chart-container{data: {"chart-dataset-value": @data, controller: "chart" }}
    %canvas{ "data-chart-target": "canvas", width: "500", height: "200" }
