%div.position-relative{"data-controller": "dropdown"}
  = form_with(url: search_people_path, method: :get, data: {"turbo-frame": "search-people"}) do |f|
    = f.text_field :searched_string, { class: "form-control", placeholder: "Person suchen", type: "text", onInput: "this.form.requestSubmit();", onfocus: "this.form.requestSubmit();"}
  %div{class: "dropdown", "data-dropdown-target": "results"}
    %turbo-frame{id: "search-people"}
