%turbo-frame{id: "search-people"}  
  - sorted_entries = entries.sort_by(&:name)
  - sorted_entries.each do |entry|
    %div.dropdown-option
      = link_to entry.name, person_path(entry), {class: "dropdown-text", "data-turbo": false}
