<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Authentication Error</h1>
      <p>You do not have the necessary permissions to access this application.</p>
      <p>Please contact an administrator if you believe this is an error.</p>
      <%= link_to 'Go back to sign in', '/sign_in', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
