<section id="activity" class="section">
  {{model-header title="Aktivitäten"}}
    <div class="row-fluid">
      <div class="span12">
        <table id="activity-content-show-table"
          class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Zeit</th>
              <th>Aktivität</th>
              <th class="action-header">Aktion</th>
            </tr>
          </thead>
          <tbody id="activity-content-show">
            {{#each activities as |activity|}}
              {{activity-show activity=activity}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
</section>
