<tr id="template_advancedTraining_record" class="template">
  <td id="show_year" class="show-year-cell">
    {{advanced-training.year_from}}
    {{#unless (eq advanced-training.year_from advanced-training.year_to)}}
      -{{advanced-training.year_to}}
    {{/unless}}
  </td>
  <td id="show_description" class="show-description-cell">
    {{advanced-training.description}}
  </td>
  <td>
    <a onclick={{action selectAdvancedTraining advanced-training}} id="button-edit-advancedTrainings" class="button">Editieren</a>
  </td>
</tr>
