<div class="card">
  <div class="card-header bg-primary">
    <div class="row">
      <div class="col-sm-6">
        <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Profile</a>
      </div>
      <div class="col-sm-6 text-right d-block">
        <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa angle"></i></a>
      </div>
    </div>
  </div>
  <div id="collapseThree" class="collapse show border border-primary rounded-bottom">
    <div class="card-body">
      {{#each originalPeople as |person|}}
        {{#if (eq person.originPersonId null)}}
          <div class="row mb-1">
            <div class="col-sm-3">
              {{#link-to "person" person.id}}
                <span class="badge badge-info profil-knopf" href="#">{{person.name}}</span>
              {{/link-to}}
            </div>
            <div class="col-sm-3">
              <span class="badge border border-secondary profil-knopf" href="#">{{person.title}}</span>
            </div>
            <div class="col-sm-3">
              <span class="badge border border-secondary profil-knopf" href="#">{{person.role}}</span>
            </div>
          </div>
        {{/if}}
      {{/each}}
      <div class="row mb-1">
        <div class="col-sm-3">
          {{#link-to "people.new"}}
            <span class="badge badge-success profil-knopf" href="#">Neues Profil</span>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
