{{#if this.person.competenceNotes}}
  <div class="row w-100" id="competence-content-show">
    <div class="col-sm-12">
      {{#each this.competenceNotesList as |competence|}}
        <span href="#" class="competence-entity cv-search-searchable">{{competence}}</span><br>
      {{/each}}
    </div>
  </div>
{{/if}}
<div class="mt-3">
  <a onclick={{this.competenceNotesEditing}} role="button" data-test-competences-edit-form-toggle class="edit-buttons"><i class="fa fa-edit"></i> {{t "competence-notes-show.edit"}}</a>
</div>
