<div>
  {{#with (changeset person validations) as |changeset|}}
    {{#each changeset.errors as |error|}}
      {{error.detail}}
    {{/each}}
    {{#form-for changeset submit=(action 'submit') as |f|}}
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-sm-6">
            <a class="card-link text-white" href="#">Übersicht</a>
          </div>
          <div class="col-sm-6 text-right d-block">
            {{! TODO: are you sure message after click on delete button and decide if we want a reset icon}}
            <a {{action 'submit' changeset}} role="button" id="submit-button" class="card-link text-white"><i class="fa save"></i></a>
            <a onclick={{competencesEditing}} role="button" class="card-link text-white"><i class="fa abort"></i></a>
            <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#"><i class="fa angle"></i></a>
          </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse show border border-primary rounded-bottom">
        <div class="card-body row">
          {{textarea value=changeset.competences class="competences-edit-input"}}
        </div>
      </div>
    {{/form-for}}
  {{/with}}
</div>