<div class="card-header bg-primary">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Kernkompetenzen ({{amountOfCompetences}})</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseTwo" class="collapse show border border-primary rounded-bottom">
  <div class="card-body d-flex flex-column">
    {{#if person.competences}}
      <div class="row" id="competence-content-show">
        <div class="col-sm-3">
          <span class="p-2">Alte Kompetenzenliste</span>
        </div>
        <div class="col-sm-9">
          {{#each competenceList as |competence|}}
            <span class="old-competence-list-entity badge badge-success p-2 mr-2 mb-2 skill" href="#">{{competence}}</span>
          {{/each}}
        </div>
      </div>
    {{/if}}
    <div class="mt-auto">
      <a onclick={{competencesEditing}} data-test-company-edit-form-toggle class="edit-buttons"><i class="fa fa-pencil"></i> Bearbeiten</a>
    </div>
  </div>
</div>
