<div class="row">
  <Textarea @value={{this.person.competenceNotes}} class="competences-edit-input w-100" />
</div>
<div class="mt-2">
  <button type="button" {{action "submit" this.person}} role="button" id="submit-button" class="btn btn-primary">Speichern</button>
  <button type="button" onclick={{action "abortEdit"}} role="button" class="btn abort-button">Abbrechen</button>
</div>
