<section id="competence" class="section">
  {{model-header title="Kompetenzen"}}
    <div id="competence-content-show" class="row-fluid">
      <div class="span12">
        <ul>
          {{#each competences as |competence|}}
            <li>{{competence.description}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
</section>
