{{#with (changeset competence validations) as |changeset|}}
  {{#each changeset.errors as |error|}}
    {{error.detail}}
  {{/each}}
  <form onsubmit={{action 'submit' changeset}} id="form_competence">
    <div id="competence-content-edit" class="row-fluid" style="display: block;">
      <div class="span10">
        <div class="row-fluid">
          <div class="span10">
            {{input value=changeset.description class="input-xxlarge"}}
          </div>
        </div>
      </div>
      <div class="span2">
        <button class="btn btn-primary btn-block btn-mini" >
          Speichern </button>
        <button class="btn btn-inverse btn-block btn-mini" type="button" onclick={{action done}}>
          Abbrechen </button>

        {{#confirm-dialog
          text="Sind Sie sicher, dass Sie diesen Eintrag löschen möchten?"
          confirmButton="Löschen"
          cancelButton="Abbrechen"
          confirmAction=(action 'confirmDestroy' competence)
          confirmButtonClass="btn btn-danger"
          cancelButtonClass="btn pull-right"
          okCssIcon="fa fa-check-circle-o"
          cancelCssIcon="fa fa-ban"
        }}
        <button class="btn btn-danger btn-block btn-mini" type="button">
          Löschen </button>
        {{/confirm-dialog}}


      </div>
    </div>
  </form>
{{/with}}
