<div class="card-header bg-primary">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Kernkompetenzen</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <a onclick={{competencesEditing}} data-test-company-edit-form-toggle class="card-link text-white"><i class="fa edit"></i></a>
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseTwo" class="collapse show border border-primary rounded-bottom">
  <div class="card-body">
    {{#each person.personCompetences as |competence|}}
      <div class="row mb-1">
        <div class="col-sm-3">
          <span class="p-2">{{competence.category}}</span>
        </div>
        <div class="col-sm-9">
          {{#each competence.offer as |offer|}}
            <span class="badge badge-success p-2 mr-2 mb-2 skill" href="#">{{offer}}</span>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div id="collapseTwo" class="collapse show border border-primary rounded-bottom">
  <div class="card-body">
    <div class="row" id="competence-content-show">
      <ul>
        {{#each competenceList as |competence|}}
          <li>{{competence}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
