<div class="card-header bg-info" id="competence-show-header" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-dark header-text">Kernkompetenzen ({{amountOfCompetences}})</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <a class="card-link text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseTwo" class="collapse show border border-info rounded-bottom">
  <div class="card-body d-flex flex-column">
    {{#if person.competences}}
      <div class="row" id="competence-content-show">

        <div class="col-sm-9">
          {{#each competenceList as |competence|}}
            <span href="#">{{competence}}</span><br>
          {{/each}}
        </div>
      </div>
    {{/if}}
    <div class="mt-3">
      <a onclick={{competencesEditing}} data-test-company-edit-form-toggle class="edit-buttons"><i class="fa fa-pencil"></i> Bearbeiten</a>
    </div>
  </div>
</div>
