<div class="collapse-group-fws" id="collapseFWS">
  <div class="row mb-3">
    <div class="col-sm-12">
      <span class="text-right d-block controls">
        <a href="#collapseFWS" class="mr-2 open-button-fws" hidden=true>+ Details einblenden</a>
        <a href="#collapseFWS" class="close-button-fws">- Details ausblenden</a>
      </span>
    </div>
  </div>
  {{#each expertiseCategories as |ec|}}
    {{expertise-topics-show expertiseCategory=ec person=person}}
  {{/each}}
</div>
<script>
  $(".open-button-fws").on("click", function() {
    $(this).closest('.collapse-group-fws').find('.collapse').collapse('show');
    $('.open-button-fws').attr('hidden', true);
    $('.close-button-fws').attr('hidden', false);
  });
  $(".close-button-fws").on("click", function() {
    $(this).closest('.collapse-group-fws').find('.collapse').collapse('hide');
    $('.close-button-fws').attr('hidden', true);
    $('.open-button-fws').attr('hidden', false);
  });
</script>
