<hr>
<h2>Templates</h2>

<ul>
  <li>
    <a onclick={{action 'exportEmptyDevFws'}}>
      Leere Fachwissensskala (Entwickler)
    </a>
  </li>
  <li>
    <a onclick={{action 'exportEmptySysFws'}}>
      Leere Fachwissensskala (Systemtechniker)
    </a>
  </li>
</ul>
