<hr>
<h2>Templates</h2>

<ul>
  <li>
    <button onclick={{action 'exportEmptyDevFws'}} class="btn btn-link">
      Leere Fachwissensskala (Entwickler)
    </button>
  </li>
  <li>
    <button onclick={{action 'exportEmptySysFws'}} class="btn btn-link">
      Leere Fachwissensskala (Systemtechniker)
    </button>
  </li>
</ul>
