<div class="input-group search-field">
  <Input @elementId="skillsetSearchfield" @value={{value}} @key-up={{action "filterByName"}} class="light form-control search-field" placeholder="Suchen" />
  <div class="input-group-text search-icon">
    <i class="fa fa-search"></i>
  </div>
</div>
{{yield results}}
