{{! Profile heading }}
<div class="row-fluid">
  <h2>{{header}}</h2>
  <div class="span5">
    <span class="section-title">{{title}}</span>
  </div>
</div>

{{! Horizontal ruler }}
<div class="row-fluid">
  <div class="span12"><hr></div>
</div>
