{{#sticky-container options=myStickyOptions}}
  <nav id="person-sidebar" class="border">
    <ul class="nav flex-column">
      {{#each-in items as |key value|}}
        <li class="nav-item">
          <a class="nav-link" href="{{value}}" onclick={{action 'scrollTo' value}}><p>{{key}}</p></a>
        </li>
      {{/each-in}}
    </ul>
    {{yield}}
  </nav>
{{/sticky-container}}
