{{#sticky-container options=this.myStickyOptions}}
  <nav id="person-sidebar">
    <ul class="nav flex-column border">
      {{#each-in this.items as |key value|}}
        <li class="nav-item">
          <a class="nav-link" href={{value}} onclick={{action "scrollTo" value}}><p>{{key}}</p></a>
        </li>
      {{/each-in}}
    </ul>
    {{yield}}
  </nav>
{{/sticky-container}}
