<div class="mb-2 d-flex">
  <div class="people-search">
    {{#power-select
      triggerId="people-search"
      selected=selected
      options=peopleToSelect
      searchEnabled=true
      searchField="name"
      placeholder="Person suchen"
      onfocus=(action "handleFocus")
      onblur=(action "handleBlur")
      onchange=(action "changePerson")
    as |person|
    }}
      {{person.name}} <small>({{person.company.name}})</small>
    {{/power-select}}
  </div>
  <div class="ml-3">
    {{#if selected}}
      {{updated-at entry=selected class="updated-at-person"}}
    {{/if}}
  </div>
</div>
