<nav class="navbar navbar-expand-sm border-black border-left-0 border-right-0 p-0">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link">
        {{#link-to "person.index"}}
          CV
        {{/link-to}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        {{#link-to "person.skills" (query-params personId=personId rated="true") id="peopleSkillsLink"}}
          Skills
          <span class="badge badge-pill badge-success">
            {{unratedSkillsAmount}}
          </span>
        {{/link-to}}
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <div class="p-2">
      {{#basic-dropdown as |dd|}}
        {{#dd.trigger}}
          <a class="edit-buttons">
            <td><i class="fa fa-cog" aria-hidden="true"></i> Mehr Optionen</td>
          </a>
        {{/dd.trigger}}
        {{#dd.content class="content-bootstrap-feel"}}
          {{#delete-with-confirmation
            entry=person
            transitionTo="people"
          }}
            Profil Löschen
          {{/delete-with-confirmation}}
        {{/dd.content}}
      {{/basic-dropdown}}
    </div>
    <div class="p-2">
      <a onclick={{pipe (action 'startExport' person.id)}} class="edit-buttons">
        <td><i class="fa fa-download" aria-hidden="true"></i> Export</td>
      </a>
    </div>
  </ul>
</nav>
