<nav class="navbar navbar-expand-sm border-black border-left-0 border-right-0 p-0">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link">
        {{#link-to "person.index"}}
          CV
        {{/link-to}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        {{#link-to "person.fws"}}
          Fachwissensskala
        {{/link-to}}
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <span class="text-right d-block">
      Letztes Update
      <span class="text-danger">
        <time datetime={{moment-format person.updatedAt}}>
          {{moment-format person.updatedAt 'L LT'}}
        </time>
      </span>
    </span>
  </ul>
</nav>
