<div class="span2 {{if response.isPending 'loading-mask'}}">
  <input type="file" class="img-input" hidden>
  <div>
    <img class="img-avatar-edit"
      src={{picturePath}}
      class="pic img-polaroid profil-img rounded-circle"
      role="button"
      onclick={{action "changePicture"}}
      alt="Bild ersetzen">
  </div>
</div>
