<div id="scrollToTopButton">
  <button type="button" class="btn btn-outline-secondary" onclick={{action 'scrollToTop'}}>
    <i class="fa fa-long-arrow-alt-up" aria-hidden="true">
    </i>
  </button>
</div>

<script>
  $(document).scroll(function() { 
     if($(window).scrollTop() !== 0) {
       $("#scrollToTopButton").addClass('visible');
     }
     else {
       $("#scrollToTopButton").removeClass('visible');
     }
  });
</script>
