<div id="skills-list-rated-filter">
  <div class="btn-group" role="group">
    <LinkTo @route="person.skills" @query={{hash personId=this.personId rated=""}} @tagName="button" @elementId="memberSkillsetAll" @classNames="btn border border-right-0 filter-buttons">
      Alle
    </LinkTo>
    <LinkTo @route="person.skills" @query={{hash personId=this.personId rated="true"}} @tagName="button" @elementId="memberSkillsetRated" @classNames="btn border filter-buttons">
      Bewertet
    </LinkTo>
    <LinkTo @route="person.skills" @query={{hash personId=this.personId rated="false"}} @tagName="button" @elementId="memberSkillsetUnrated" @classNames="btn border border-left-0 filter-buttons">
      Unbewertet
    </LinkTo>
  </div>
</div>
