<div class="modal fade" id="skill-show-modal" tabindex="-1" role="dialog" aria-labelledby="skill-show-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="skill-show-label">Skill: {{skill.title}} ({{skill.people.length}} Members)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          {{#each peopleSkills as |peopleSkill|}}
            <div class="py-2">
              {{people-skill-show peopleSkill=peopleSkill showPersonName=true}}
            </div>
          {{/each}}
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-secondary">Schliessen</button>
      </div>
    </div>
  </div>
</div>
