<div class="col-sm-12">
  <span class="text-right text-secondary d-block updated-at">
    Zuletzt bearbeitet:
      <time datetime={{moment-format entry.updatedAt}}>
        {{moment-format entry.updatedAt 'L'}}
      </time>
  </span>
</div>
