<h2>Log in</h2>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), {data: { turbo: false }, class: "btn btn-primary"} %>
  <% end %>
<% end %>
