%div.mt-3{"data-controller": "people-skills-filter"}
  = render("search_form")
  - for a in 1..3 do
    %div{"data-people-skills-filter-target": "filter"}
      %div.d-flex.flex-row.w-100.align-items-center
        = render("search_form")
        %img{:src=> "/assets/x.svg",:height=>"20", class: "pointer", "data-action": "click->people-skills-filter#hide",
    "data-people-skills-filter-id-param": a}
  %button.btn.text-primary.text-decoration-underline.pointer{"data-action": "click->people-skills-filter#show", "data-people-skills-filter-target": "add"}
    %img{:src=> "/assets/plus-lg.svg",:height=>"20"}
    Skill hinzufügen (max. 5))
  %div.profile-header.mw-100.border-bottom.mt-4.fw-normal
    Suchresultate
  %turbo-frame{id: "search-results"}
    %div.border.p-3.rounded-bottom
      - if entries.size == 0
        Keine Resultate
      - else
        - entries.each do | filtered_entry|
          %div.d-flex.flex-row.w-100.border-bottom
            %div.d-flex.flex-column.mt-2.mb-2.w-25.justify-content-start
              = link_to filtered_entry[:person].name, person_path(filtered_entry[:person]), {"data-turbo"=>false}
            %div.d-flex.flex-row.mt-2.mb-2.w-75
              - filtered_entry[:skills].each do |person_skill|
                = render('person_skill', {person_skill: person_skill})