%div.border.border-secondary-subtle.border-1.d-flex.flex-column
    = yield
    %div.profile-header.mw-100.border-bottom
        = content_for(:header)
    %div.d-flex.flex-column.ms-5.mt-3.mb-3
        = content_for(:body)
      