= turbo_stream.update "#{dom_id AdvancedTraining.new}" do
  = render "application/error_banners", errors: @advanced_training.errors
  = render partial: "form", locals: {attribute: @advanced_training}
