%h2 Dein Skills-Profil wartet auf Sie

%p
  Hallo,
%p
  Dein Skills-Profil wurde seit einer langen Zeit nicht mehr aktualisiert. Eine aktuelle Übersicht deiner Fähigkeiten hilft uns, passende und spannende Projekte für dich zu finden.
%p
  Nimm dir doch einen Moment Zeit, um dein Profil auf den neusten Stand zu bringen.

%a.button{href: people_url} Profil jetzt aktualisieren

%p
  Vielen Dank!
  %br/
  Dein Puzzle Skills Team

%p.footer-note
  Dies ist eine automatisch generierte E-Mail. Bitte antworten Sie nicht.