h1 {
  margin-bottom: 20px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

#content {
  padding-top: 10px;
}

#flash {
  clear: both;
  padding-top: 5px;
}

table.table td.action {
  width: 20px;
  text-align: center;
}

.cancel {
  font-size: 80%;
  margin-left: 7px;
}

#error_explanation h2 {
  font-size: 100%;
  margin-top: 0px;
}

#error_explanation ul {
  margin-bottom: 5px;
}

footer {
  clear: both;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: no-repeat;
  background-position: center;
  vertical-align: top;
}

.icon-plus { background-image: url('assets/plus-lg.svg'); }
.icon-remove { background-image: url('assets/remove.png'); }
.icon-trash { background-image: url('assets/trash.svg'); }
.icon-pencil { background-image: url('assets/pencil-square.svg'); }
.icon-list { background-image: url('assets/list.png'); }
.icon-zoom-in { background-image: url('assets/search.svg'); }
.icon-export { background-image: url('assets/export.svg'); }
.icon-close { background-image: url('assets/close.svg'); }
.icon-save { background-image: url('assets/save.svg'); }
.icon-cancel { background-image: url('assets/cancel.svg'); }
.icon-save-and-new { background-image: url('assets/save-and-new.svg'); }
.icon-redhat { background-image: url('assets/redhat.svg')}