@import "bootstrap";

.modal-dialog {
  max-width: 60%;
}

.content {
  max-width: 60%;
  flex-grow: 1;
}

.navbar {
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link  {
  color: white;
  text-decoration: none;
}

.nav-pad {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.align-center {
  display: flex;
  align-items: center;
}

.sticky-header {
  position: sticky;
  top: 0;
}

.scale-icon-06 {
  transform: scale(0.6);
}

.scale-icon-08 {
  transform: scale(0.8);
}

.border-r-l {
  border-right: 1px solid;
  border-left: 1px solid;
}

.apfel-bananen-salat {
  background-color: #3b7bbe
}