$skills-blue: #3b7bbe;
$skills-text-gray: #8e8e8e;
$skills-gray: #f5f5f5;
$skills-green: #69b978;
$skills-green-hover: #4e903c;
$skills-search-result-blue: #238bca;
$skills-banner-text-blue: #1e5a96;

@import "bootstrap";

.modal-dialog {
  max-width: 60%;
}

.pointer {
  cursor: pointer;
}.modal-dialog {
  max-width: 60%;
}
.content {
  max-width: 80%;
  flex-grow: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar {
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .nav-link {
    color: white;
    text-decoration: none;
  }

  .scale-icon-06 {
    transform: scale(0.6);
  }

  .scale-icon-08 {
    transform: scale(0.8);
  }
}

pzsh-topbar {
  background-color: $skills-blue
}

.text-gray {
  color: $skills-text-gray;
}

.skill-row {
  height: 100px !important;
  border-bottom: 2px solid $secondary-bg-subtle !important;
}

.interest, .level {
  pointer-events: none !important;
}
.table-row:hover {
  background-color: $light;
}


.profile-header {
  background: $skills-gray;
  height: 3.25rem;
  padding: 12px 20px 12px 20px;
  font-size: 18px;
}

.white-header {
  padding: 12px 20px 12px 20px;
  font-size: 18px;
}

.puzzle-header {
  background-color: $skills-blue;
  height: 40px;
}

.bg-skills-blue {
  background-color: $skills-blue;

  &:hover {
    background-color: #3268a1;
  }
}

.bg-skills-gray {
  background-color: $skills-gray;
}

.bg-skills-green {
  background-color: $skills-green;

  &:hover {
    background-color: $skills-green-hover;
  }
}

.bg-skills-search-result-blue {
  background-color: $skills-search-result-blue;

  &:hover {
    background-color: $skills-green-hover;
  }
}

.fixed-table {
  table-layout: fixed;
  width: 100%;
}

.persisted-line-breaks {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: hidden;
}

#competence-notes {
  width: 100% !important;
}

.circle-divider {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #69b978
}

.w-min-content {
  width: min-content;
}

.rate {
  float: left;
  height: 30px;
  width: max-content;

  label {
    display: flex;
    align-items: center;
    height: 30px;
    width: 25px;
  }
}
.rate:not(:checked) > input {
  display: none;
}
.rate:not(:checked) > label {
  float: right;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.rate-show:not(:checked) > label {
  cursor: default;
}

.rate-show > input:checked + label:hover,
.rate-show > input:checked + label:hover ~ label,
.rate-show > input:checked ~ label:hover,
.rate-show > input:checked ~ label:hover ~ label,
.rate-show > label:hover ~ input:checked ~ label {
  color: #ffc700;
}
.rate-show:not(:checked) > label:hover,
.rate-show:not(:checked) > label:hover ~ label {
  color: #ccc;
}.bg-hover-gray:hover{
  background-color: #e5e5e5;
}

.people-skills {
  min-width: 80%;
  height: 82vh;
}

.people-skills-actions {
  min-width: 20%;
  height: min-content;
}

#avatar {
  display: none;
}

#avatar[src] {
  display: block;
}

.banner-text {
  font-size: 55px;
  color: $skills-banner-text-blue;
  font-family: Roboto, sans-serif;
}

.banner-sub-text {
  color: $skills-banner-text-blue;
}

.highlighted {
  background-color: #1e5a96;
}