= index_action_link admin_index_path
= list_table do |t|
  - t.sortable_attr(:name) { |person| link_to person.name, person_path(person) }
  - t.sortable_attr(:updated_at)
  - t.col(ti('link.delete')) { |person| button_to ti('link.delete'), admin_people_management_path(person_id: person.id), method: :delete, data: { turbo_confirm: ti(:confirm_delete) }, class: "btn btn-primary bg-skills-blue" }