- if Person.unemployed.any?
  %span.p-0.fs-4.text-decoration-underline= ti('ex_members_title')
  = render 'destroy_people_table', person_collection: Person.unemployed

- if use_ptime_sync?
  - not_synced_profiles = Person.where(ptime_employee_id: nil).or(Person.where(ptime_data_provider: nil))
  - if not_synced_profiles.any?
    %hr.my-3
    %span.p-0.fs-4.text-decoration-underline= ti('not_synced_members_title')
    = render 'destroy_people_table', person_collection: not_synced_profiles
