- if @list_entries.none?
  %span.p-0.fs-4= ti('nothing_to_manage')

- if @list_entries.any?
  %span.p-0.fs-4.text-decoration-underline= ti('ex_members_title')
  = render 'destroy_people_table', person_collection: @list_entries, table_id: 'unemployed-people'
