- if errors.any?
  #error_explanation.alert.alert-danger
    %h2= ti(:"errors.header", count: errors.count, model: (defined?(object) && object&.to_s) || "Error")
    %ul
      - errors.full_messages.each do |msg|
        %li= msg
