= turbo_frame_tag "remote_modal" do
  #modal-animation.modal{tabindex:"-1", "data-controller":"remote-modal", "data-bs-focus":"false"}
    %div
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title= title
          %button{type:"button", class:"btn-close", "data-bs-dismiss":"modal","aria-label":"Close"}
        .modal-body#remote_modal_body
          = yield
