= render "remote_modal", title: "You are not authorized to access this page" do 
    %p
        You are not authorized to access this page. 
        Please contact your administrator if you believe this is an error.