!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
      body { font-family: sans-serif; color: #333; }
      .container { padding: 20px; }
      .footer-note { font-size: 0.9em; color: #888; margin-top: 25px; }
  %body
    .container
      %p
        Sie haben Ihr Skills-Profil seit einem Jahr nicht mehr aktualisiert.
      %p
        Bitte erneuern Sie Ihr Profil.
        %br/
        Puzzle Skills
      %p.footer-note
        Dies ist eine automatisch generierte Nachricht. Bitte antworten Sie nicht auf diese E-Mail.
  %body
    = yield
